<!DOCTYPE html>
<html>
  <head>
    <title>MINI APP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>MINI APP</h1>
      <ul class="menu_nav">
        <li><%= link_to "投稿", messages_new_path %></li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
